[Desktop Entry]
Type=Application
Exec=redshift
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=redshift
Name=redshift
Comment[en_US]=
Comment=
